auth.method=openid
provider.id=shibboleth
name=Brown SSO

# Site Settings
siteUrl=https://xnat.bnc.brown.edu
openid.shibbolet.link=<a href="link to SSO">Example</a>

# Shibbolet credentials and endpoints
openid.shibboleth.clientId=YOUR_CLIENT_ID
openid.shibboleth.clientSecret=YOUR_CLIENT_SECRET
openid.shibboleth.accessTokenUri=https://sso.brown.edu/idp/profile/oidc/token
openid.shibboleth.userAuthUri=https://sso.brown.edu/idp/profile/oidc/authorize
openid.shibboleth.userInfoUri=https://sso.brown.edu/idp/profile/oidc/userinfo

# Claims Mapping
openid.shibboleth.scopes=openid,profile,email
openid.shibboleth.emailProperty=email
openid.shibboleth.givenNameProperty=given_name
openid.shibboleth.familyNameProperty=family_name

# Account Provisioning
openid.shibboleth.forceUserCreate=true
openid.shibboleth.shouldFilterEmailDomains=true
openid.shibboleth.allowedEmailDomains=brown.edu
auto.enabled=true
auto.verified=true